@media screen and (max-width: 1199px) {

    .top-img-three,
    .head-menu-list,
    .head-soc {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .hero-fon {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/desk-fon.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-fon {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/desk-fon@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .mob-menu-open {
        display: none;
    }

    .head-mob-menu {
        display: none;
    }

    .container {
        max-width: 1200px;
    }

    .head-nav {
        display: flex;
        align-items: center;
    }

    .head-logo-svg {
        width: 24px;
        height: 24px;
    }

    .head-logo {
        font-size: 18px;
        line-height: 20px;
    }

    .head-menu-list {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .head-menu-item:not(:last-child) {
        margin-right: 24px;
    }

    .head-menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.02em;
        color: #111111;
        padding-top: 28px;
        padding-bottom: 36px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .head-menu-link:hover,
    .head-menu-link:focus {
        color: #FD9222;
    }

    .head-soc {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .head-soc-item:not(:last-child) {
        margin-right: 18px;
    }

    .head-soc-link {
        padding-top: 24px;
        padding-bottom: 32px;

    }

    .head-soc-svg {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .head-soc-link:hover .head-soc-svg,
    .head-soc-link:focus .head-soc-svg {
        fill: #FD9222;
    }
}



@media screen and (min-width: 1200px) {
    .hero {
        padding-bottom: 72px;
    }

    .hero-fon {
        padding-top: 381px;
    }

    /* ===== Advantages ===== */
    .adv {
        padding-bottom: 51px;
    }

    .adv-list {
        gap: 70px;
        justify-content: center;
    }

    .adv-item:last-child {
        padding-right: 0;
        max-width: 308px;
    }

    .adv-item:not(:last-child) {
        position: relative;
        max-width: 326px;
        padding-right: 18px;
    }

    .adv-item:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 124px;
        transform: rotate(90deg);
        right: -60px;
        top: 120px;
    }

    /* ===== Unique components ===== */
    .uc {
        padding-top: 128px;
    }

    .uc-list {
        flex-wrap: nowrap;
        gap: 19px;
    }

    .uc-item {
        width: 270px;
        height: 270px;
        border-radius: 15px;
        align-items: end;
        padding: 28px;
    }

    .uc-item-text {
        margin-top: 36px;
    }

    /* ===== How its made ===== */
    .how {
        padding-top: 128px;
    }

    .how-vandt-box {
        display: flex;
        gap: 20px;
    }

    .how-text-box {
        margin-top: 0;
    }

    .how-video {
        width: 600px;
        height: 400px;
    }

    .how-list {
        gap: 24px;
    }

    /* ===== Our products ===== */
    .our {
        padding-top: 128px;
    }

    /* ===== Top Sellers ===== */
    .top {
        padding-top: 128px;
    }

    .top-img {
        width: 100%;
        max-width: 368px;
    }

    .top-sub-two {
        max-width: 407px;
    }

    /* ===== CHOCOLATE IS LOVED ===== */
    .choco {
        padding-top: 128px;
        padding-bottom: 128px;
    }
}