/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    color: #111111;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* ==== Header ===== */

.head-logo {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #111111;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 14px;
}

.head-second-logo {
    font-style: normal;
}

.head-logo-svg {
    line-height: 0;
    margin-left: 4px;
}

.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.mob-menu-open {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 20px 0 14px 0;

}

.mob-menu-open-svg {
    fill: rgba(17, 17, 17, 1);
}

/* ===== Mob menu ===== */

.head-mob-menu {
    position: fixed;
    width: 220px;
    height: 100%;
    background-color: #1E1823;
    right: 0;
    top: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.head-mob-menu.is-open {
    transform: translateX(0);
}

.head-mob-conteiner {
    position: relative;
    max-width: 220px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.head-menu-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.head-close-svg {
    fill: #FFFFFF;
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-menu-close:hover .head-close-svg,
.head-menu-close:focus .head-close-svg {
    fill: #FD9222;
    transform: scale(1.5);
}


.head-mob-list {
    margin-top: 116px;
    margin-left: 30px;
}

.head-mob-item:not(:last-child) {
    margin-bottom: 24px;
}

.head-mob-link {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-bottom: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 376px) {
    .head-mob-link:after {
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        border: 1px solid transparent;
        left: 0;
        bottom: 0;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.current {
    color: #FD9222;
}

.current::after {
    border: 1px solid #FD9222;
}

.head-mob-link:hover,
.head-mob-link:focus {
    color: #FD9222;
}

.head-mob-link:hover:after,
.head-mob-link:focus:after {
    border: 1px solid #FD9222;
}

.head-mob-soc {
    display: flex;
    gap: 18px;
    margin-top: auto;
}

.head-mob-soc-svg {
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-mob-soc-svg:hover,
.head-mob-soc-svg:focus {
    fill: #FD9222;
}

/* ===== Hero ===== */
.hero {
    padding-bottom: 72px;
}

.hero-fon {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/mob-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding-top: 395px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 375px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 375px),
screen and (min-resolution: 192dpi) and (max-width: 375px),
screen and (min-resolution: 2dppx) and (max-width: 375px) {
    .hero-fon {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/mob-fon@2x.jpg);
    }
}

.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.hero-btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px 14px;
}

.hero-btn-buy {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #FD9222;
    border-radius: 100px;
    border: none;
    padding: 12px 28px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .hero-btn-how {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 11px 28px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.hero-btn-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 11px 28px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-buy:hover,
.hero-btn-buy:focus {
    color: #FD9222;
    background: #FCF1E0;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    color: #FD9222;
    border: 1px solid #FD9222;
}

/* .hero-btn-how:hover .hero-btn-link,
.hero-btn-how:focus .hero-btn-link {
    color: #FD9222;
} */

/* .hero-btn-scroll {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
} */

.hero-scroll-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.hero-scroll-svg {
    fill: #FD9222;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: solid 5px #FFFFFF;
    margin-left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-scroll-link:hover,
.hero-scroll-link:focus {
    color: #FD9222;
}

.hero-scroll-link:hover .hero-scroll-svg,
.hero-scroll-link:focus .hero-scroll-svg {
    fill: #FFFFFF;
    background-color: #FD9222;
    border: solid 5px #FD9222;
}

/* ===== Advantages ===== */

.adv {
    background-color: #1E1823;
    padding-top: 20px;
    padding-bottom: 36px;
}

.adv-item {
    max-width: 336px;
    padding-right: 28px;
}

.adv-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.adv-svg-box {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adv-svg {
    fill: #FD9222;
}

.adv-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.adv-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* ===== Unique components ===== */

.uc {
    padding-top: 72px;
}

.uc-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    /* color: #111111; */
    text-transform: uppercase;
    margin-bottom: 24px;
    max-width: 283px;
    margin-left: auto;
    margin-right: auto;
}

.uc-title-span {
    color: #FD9222;
}

.uc-title-text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    /* color: #111111; */
    margin-bottom: 32px;
}

.uc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.uc-item {
    max-width: 335px;
    height: 270px;
    border-radius: 15px;
    align-items: end;
    padding: 28px;
}

.uc-item img {
    display: block;
    margin: auto;
}

.uc-item:first-child {
    background-color: #FD9222;
}

.uc-item:nth-child(3) {
    background-color: #1E1823;
}

.uc-item:nth-child(2n) {
    background: #FFFFFF;
    border: 1px solid #FD9222;
}

.uc-item-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    /* color: #111111; */
    left: 0;
    margin-top: 25px;
}

.item-wt {
    color: #ffffff;
}

/* ===== How its made ===== */

.how {
    padding-top: 72px;
}

.how-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    /* color: #111111; */
}

.how-title-second {
    color: #FD9222;
}

.how-text-box {
    background-color: #FFFFFF;
    border-radius: 15px;
    max-width: 335px;
    padding: 20px 14px;
}

.how-box-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* color: #111111; */
    margin-bottom: 20px;
}

.how-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: 291px;
    margin-left: auto;
}

.how-item {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    /* color: #111111; */
}

/* ===== Our products ===== */
.our {
    padding-top: 72px;
}

.our-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.our-span {
    color: #FD9222;
}

.our-list {}

.our-item {
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    text-align: center;
    padding: 32px 53px;
}

.our-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px;
}

.our-item-subtitle {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.our-item-price {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 20px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}

/* ===== Top Sellers ===== */

.top {
    padding-top: 72px;
}

.top-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.top-span {
    color: #FD9222;
}

.top-list {
    background: url(img02.png);
    border-radius: 15px;
    text-align: center;
}

.top-item {}

.top-subtitle {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    max-width: 306px;
    text-align: left;
}

.top-img {
    margin-bottom: 20px;
}

.top-buy {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #FD9222;
    border-radius: 100px;
    border: none;
    padding: 12px 28px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-buy:hover,
.top-buy:focus {
    color: #FD9222;
    background: #FCF1E0;
}

/* === Modal === */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
    width: 90%;
    max-width: 311px;
    height: 471;
    font-family: Montserrat, sans-serif;
    background: #FAFAFA;
    border-radius: 15px;
    padding: 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    position: absolute;
    display: flex;
    top: 14px;
    right: 14px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon {
    fill: #111111;
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-modal-icon,
.modal-close:focus .close-modal-icon {
    fill: #FD9222;
    transform: scale(1.3);
}

.modal-main-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    /* color: #111111; */
}

.text-span {
    color: #FD9222;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/* ===== Modal Form ===== */

.modal-send-button {
    color: #FFFFFF;
    background-color: #FD9222;
    border: none;
    border-radius: 100px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    padding: 12px 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-send-button:hover,
.modal-send-button:focus {
    background-color: #FCF1E0;
    color: #FD9222;
}


.form-input {
    width: 100%;
    height: 45px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 14px 18px;
    /* color: #111111; */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.form-input:not(:last-child) {
    margin-bottom: 14px;
}

.form-label {
    position: relative;
}

.form-label-tel {
    position: absolute;
    color: #000000;
    left: 50px;
    top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.form-icon {
    position: absolute;
    left: 18px;
    top: -2px;

}

.tel-input {
    padding-left: 106px;
}

.text-area {
    width: 100%;
    height: 91px;
    border-radius: 8px;
    resize: none;
    display: block;
    margin-bottom: 18px;
    padding: 14px 18px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.form-input::placeholder,
.text-area::placeholder {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}