@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;

    }

    .mob-menu-open,
    .head-logo {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .mob-menu-open-svg {
        width: 32px;
        height: 32px;
    }

    .head-mob-menu {
        width: 290px;
    }

    .head-mob-conteiner {
        max-width: 100%;
        padding: 24px 32px;
    }

    .head-mob-list {
        margin-top: 132px;
        margin-left: 53px;
    }

    .head-mob-soc-svg {
        width: 24px;
        height: 24px;
    }

}

@media screen and (min-width: 768px) {
    .hero-fon {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/tab-fon.jpg);

    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-fon {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/tab-fon@2x.jpg);
    }
}


@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 50px;
    }

    .hero-fon {
        padding-top: 671px;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .hero-title {
        max-width: 484px;
        font-size: 28px;
        line-height: 34px;
    }

    .hero-btn-buy,
    .hero-btn-link {
        padding: 14px 40px;
    }

    /* .hero-btn-scroll {
        margin-left: auto;
    } */

    .hero-scroll-link {
        font-size: 14px;
        line-height: 18px;
        margin-left: auto;
    }

    .hero-scroll-svg {
        width: 38px;
        height: 38px;
        margin-left: 14px;
    }


    /* ===== Advantages ===== */

    .adv {
        padding-top: 50px;
        padding-bottom: 85px;
    }

    .adv-list {
        gap: 32px;
    }

    /* ===== Unique components ===== */
    .uc {
        padding-top: 100px;
    }

    .uc-title {
        max-width: 411px;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 28px;
    }

    .uc-title-text {
        max-width: 411px;
        margin-bottom: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .uc-list {
        gap: 32px;
    }

    .uc-item {
        max-width: 336px;
    }

    /* ===== How its made ===== */
    .how {
        padding-top: 100px;
    }

    .how-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
    }

    .how-text-box {
        max-width: 614px;
        padding: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .how-box-title {
        max-width: 350px;
        margin-bottom: 28px;
    }

    .how-list {
        margin-left: 16px;
        margin-right: auto;
        max-width: 464px;
    }

    /* ===== Our products ===== */
    .our {
        padding-top: 100px;
    }

    .our-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
    }

    .our-item {
        padding: 32px 0;
        width: 100%;
        max-width: 270px;
    }

}





















@media screen and (min-width: 768px) {
    .modal-container {
        max-width: 517px;
        padding: 40px;
    }

    .modal-close {
        width: 28px;
        height: 28px;
    }

    .modal-main-title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.16;
    }

    .form-input {
        height: 66px;
        border-radius: 13px;
        margin-bottom: 19px;
    }

    .form-label-tel {
        margin-left: 18px;
    }

    .form-icon {
        width: 32px;
        height: 32px;
        top: -7px;
        left: 24px;
    }

    .text-area {
        width: 100%;
        height: 137px;
        border-radius: 13px;
        resize: none;
        display: block;
        color: rgba(64, 64, 64, 0.3);
        padding: 22px 24px;
        border: 1.5px solid rgba(17, 17, 17, 0.05);
    }

    .modal-send-button {
        padding: 14px 40px;
    }
}